@font-face {
    font-family: 'Baby Doll';
    src: url('Handwritten.ttf');
}

.root {
    -fx-font-size: 15pt;
    -fx-font-family: 'Baby Doll';
}

.text-area .scroll-pane .content {
    -fx-background-color: black;
    -fx-text-fill: white;
}

